<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{product}}</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.4/dist/tailwind.min.css" rel="stylesheet">
  <style>
    .instagram-blue { background-color: #405DE6; }
    .instagram-purple { background-color: #5851DB; }
    .instagram-red { background-color: #FD1D1D; }
    .instagram-orange { background-color: #F56040; }
    .instagram-yellow { background-color: #F77737; }
    .instagram-lightorange { background-color: #FCAF45; }
    .instagram-gold { background-color: #FFDC80; }
  </style>
</head>
<body class="bg-gray-100">

  <header class="bg-white shadow">
    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8 flex justify-between items-center">
      <h1 class="text-3xl font-bold text-gray-900">
        Instagram Marketplace
      </h1>
      <div>
        <button class="text-white bg-instagram-blue hover:bg-instagram-purple font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Log in</button>
        <button class="text-white bg-instagram-red hover:bg-instagram-orange font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Sign up</button>
      </div>
    </div>
  </header>

  <main class="my-8">
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
      <!-- Marketplace grid -->
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <!-- Product card -->
        <div class="bg-white shadow rounded-lg p-4">
          <div class="h-48 bg-instagram-gold flex items-center justify-center">
            <!-- Product image placeholder -->
            <span class="text-2xl font-bold text-white">Product 1</span>
          </div>
          <div class="p-4">
            <h3 class="text-lg font-semibold">{{product}}</h3>
            <p class="text-gray-600">{{product_discr}}</p>
            <button class="mt-3 text-white bg-instagram-purple hover:bg-instagram-blue font-medium rounded-lg text-sm px-4 py-2 text-center">View Product</button>
          </div>
        </div>

        <!-- More product cards -->
        <!-- ... -->
      </div>
    </div>
  </main>

  <footer class="bg-white shadow mt-8 p-4 text-center">
    <p class="text-sm text-gray-500">
      &copy; 2023 Instagram Marketplace. All rights reserved.
    </p>
  </footer>

</body>